<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>区享上门</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/qxv3.css" />
		<link rel="stylesheet" type="text/css" href="css/dialog.css" />
		<script type="text/javascript">
			var access_token = "fb735d44f4b8572da52648564312f17a05339490-1480";
		</script>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular-touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular-sanitize.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="navbtm" ng-app="shangmnen" ng-controller='smController'>
		<div id="header">
			<a href="" class="header_back"><i class="qx qx-back"></i>
			</a>
			<span class="header_title">区享上门</span>
		</div>
		<div class="pd mh txt-c fc_gray hide" ng-class="{block:!dlist.length&&loadok}"><i class="qx qx-roundclose fs_6"></i>
			<br/>暂无订单</div>
		<ul class="hide" ng-class="{block:loadok}">
			<li ng-repeat="d in dlist" class="mb bg_f">
				<div class="bg_f ph">
					<div class="txt-c">
						<span class="ph fs_2"><i class="qx qx-my fc_o fs_6"></i>配送人</span>
						<span class="usericon"><span><img alt="{{d.distri_worker_name}}" ng-src="{{d.distri_worker_img}}"></span></span>
						<a class="ph fs_3" ng-if="d.distri_worker_phone" href="tel:{{d.distri_worker_phone}}"><i class="qx qx-telephone fs_7 fc_gr"></i>呼叫</a>
						<a class="pw fs_3"><i class="qx qx-survice fc_o fs_7"></i>{{d.distri_worker_praise}}</a>
					</div>
				</div>

				<boxinner needtoggle='1' boxtitle="{{sub.create_time}}" class="bg_f" ng-repeat="sub in d.subList">
					<ul class="bdt_list">
						<li class="c fs_2" ng-repeat="p in sub.subList"><span class="fl">{{p.product_name}}</span><span class="fr fc_gray fs_1 ml">{{p.product_price|currency:'￥'}}*{{p.product_amount}}</span>
						</li>
					</ul>
				</boxinner>

				<div class="orderlist hide" ng-repeat="sub in d.subList">
					<div class="order_title"><span class="odt_name"><i class="qx qx-time"></i>{{sub.create_time}}</span>
					</div>
					<div class="order_cnt bg_gray">
						<ul class="bdt_list">
							<li class="c pw" ng-repeat="p in sub.subList"><span class="fl">{{p.product_name}}</span><span class="fr fc_gray fs_1 ml">{{p.product_price|currency:'￥'}}*{{p.product_amount}}</span>
							</li>
						</ul>
					</div>
				</div>

			</li>
		</ul>
		<div id="nav" class="c">
			<a href="index.html"><i class="qx qx-index "></i><i class="qx nav-fill qx-indexfill "></i><span>首页</span></a>
			<a href="service.html" class="cur"><i class="qx qx-survice "></i><i class="qx nav-fill qx-survicefill "></i><span>服务</span></a>
			<a href="bag.html"><i class="qx qx-bag "></i><i class="qx nav-fill qx-bagfill "></i><span>购物袋</span></a>
			<a href="order/orderlist.html"><i class="qx qx-order "></i><i class="qx nav-fill qx-orderfill "></i><span>订单</span></a>
			<a href="user.html"><i class="qx qx-user "></i><i class="qx nav-fill qx-userfill "></i><span>我的</span></a>
		</div>
		<div id="loading" ng-class="{hide:loadok}"></div>
		<script src="js/common/commservice.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/artDialog.source.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/iframeTools.source.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/template.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var shangmnen = angular.module('shangmnen', ['app.service']);
			var smController = shangmnen.controller('smController', ['$scope', '$http',
				function($scope, $http) {
					$http({
						method: 'get',
						url: basepath + 'order/getDeliveryList/?accsess_token=' + access_token
					}).success(function(data) {
						$scope.loadok = true;
						if (data.result_code == '0') {
							$scope.dlist = data.data;
						} else {
							artDialog.alert(data.result_dec);
						}
					}).error(function(a, b, c, d) {
						$scope.loadok = true;
						artDialog.alert(b)
					})
				}
			]);
		</script>
	</body>

</html>