<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>称重商品管理</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/qxv3.css" />
		<link rel="stylesheet" type="text/css" href="../css/dialog.css" />
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular-touch.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-app="pwlistapp" ng-controller="pwlistController">
		<div id="header">
			<a href="" class="header_back"><i class="qx qx-back"></i></a>
			<span class="header_title">称重商品管理</span>
		</div>
		<div class="pd">
			<ul class="bdt_list deliverlist">
				<li class="c" ng-repeat="d in pwlist" ng-click="toweight($index,d)">
					<div class="deliver_act">
						<span class="btn btn_r btn_big">称重</span>
					</div>
					<div class="deliver_info">
						<p>{{d.proname}}<span class="pl">{{d.pronum}}</span>
						</p>
						<p>用户名：{{d.username}}</p>
						<p>下单时间：{{d.subtime|date:'yyyy-MM-dd hh:mm:ss'}}</p>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- 搜索结果  -->
		<div id="pwsearchwrap" class="hide">
			<p>用户名：{{pw.username}}</p>
			<p>商品：{{pw.proname}}</p>
			<p>数量：{{pw.pronum}}</p>
			<p>单价：{{pw.proprice|currency:'￥'}}/{{pw.prounit}}</p>
			<p>称重斤两：
				<input type="number" ng-model="size" oninput="if(!/^(([0-9]+[\.]?[0-9]{0,2})|[1-9])$/.test(this.value)){this.value=''}" /> {{pw.prounit}}
			</p>
			<p>总价：<span class="fc_r">{{pw.proprice*size|currency:'￥'}}</span>
			</p>
		</div>
		<script src="../js/common/commservice.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/artDialog.source.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/iframeTools.source.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var pwlistapp = angular.module('pwlistapp', []);
			var pwlistController = pwlistapp.controller('pwlistController', ['$scope', '$http',
				function($scope, $http) {
					//称重列表
					$http({
						method: 'get',
						url: ''
					}).success(function(data) {
						data = {
							list: [{
								userid: 1232,
								username: '我擦累',
								proname: '大西瓜啊我擦',
								pronum: 12,
								proprice: 123,
								prounit: '斤',
								subtime: 14234334
							}, {
								userid: 1232,
								username: '我擦累',
								proname: '大西瓜啊我擦',
								pronum: 12,
								proprice: 123,
								prounit: '斤',
								subtime: 14234334
							}, {
								userid: 1232,
								username: '我擦累',
								proname: '大西瓜啊我擦',
								pronum: 12,
								proprice: 123,
								prounit: '斤',
								subtime: 14234334
							}, {
								userid: 1232,
								username: '我擦累',
								proname: '大西瓜啊我擦',
								pronum: 12,
								proprice: 123,
								prounit: '斤',
								subtime: 14234334
							}]
						}
						$scope.pwlist = data.list;
					});
					$scope.toweight = function(i, pw) {
						$scope.pw = pw;
						$scope.size = 1;
						artDialog({
							title: '',
							width: '92%',
							padding: '5px 10px',
							content: document.getElementById("pwsearchwrap"),
							ok: function() {
								if (!/^(([0-9]+[\.]?[0-9]{1,2})|[1-9])$/.test($scope.size) || $scope.size <= 0) {
									artDialog.alert('请准确输入称重斤两');
									return;
								}
								$http({
									method: 'get', //post
									url: '',
									params: {
										userid: pw.userid,
										proid: pw.proid,
										size: $scope.size
									}
								}).success(function(data) {
									artDialog.alert('提交成功')
									$scope.pwlist.splice(i, 1);
								})
							},
							cancel: function() {}
						})
					}
				}
			])
		</script>
	</body>

</html>